<%= form_for ([@conference, @conference.attendee_details.build]) do |f|%>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </p>

    <p>
      <%= f.submit "Add Attendee", :class => 'btn btn-primary'  %>
    </p>


<% end %>