<!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
<div class="DLP">
<div class="dlp_in t_bg_colr">
	<div class="wrapper">
    	<div class="w_100">
        	<div class="d_logo"><a href="#"><img src="/assets/img_logoo.png"></a></div><!--d_logo-->
          <% d= Date.today %>
          <% @attendee = AttendeeDetail.find(params[:id]) %>
          <% @conference = @attendee.conference %>
            <div class="d_date"><%= d.strftime('%d %b %Y') %> - <%= @conference.conf_header if @conference.conf_header.present? %></div><!--d_date-->
        </div><!--w_100-->
    </div><!--wrapper ends-->
</div><!--dlp_in t_bg_colr-->
<div class="dlp_box_in">
	<div class="wrapper">
        <h3>Agenda Detail</h3>

      <% params[:id] %>
      <% @attendee = AttendeeDetail.find(params[:id]) %>
      <% @attendee.agenda_detail.inspect %>
        <p><%= @attendee.first_name + " " + @attendee.last_name %></p>
        <div class="trans_box">
            <h2>Agenda Details</h2>
            <h4>Attached File</h4>
            <!--<p>Attached File:</p>-->
          <%= link_to @attendee.agenda_detail.attach_file_name,@attendee.agenda_detail.attach.url if @attendee.agenda_detail.present?%>

        </div>

      <!--trans_box-->
        <div class="logout_btn w_100"  style="padding-bottom: 15px">
        	<a class="mrgbot10" href="/attendee_details/attendee_home?id=<%= params[:id] %>">Back</a>
            <a href="/">Log Out</a>
            <p>Powered by the DLP Innovation Lab</p>
            <span>© 2014 Distance Learning Providers | All Rights Reserved</span>
        </div><!--login_btn -->
    </div><!--wrapper ends-->
</div><!--dlp_box_in-->
</div><!--DLP-->

