<div id="all_partials" style=""></div>
<!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
<div class="DLP">
  <div class="dlp_in t_bg_colr">
    <div class="wrapper">
      <div class="w_100">
        <div class="d_logo"><a href="#"><img src="/assets/img_logoo.png"></a></div>
        <!--d_logo-->
        <div class="d_date">July 18, 2014 - Chicago, IL</div>
        <!--d_date-->
      </div>
      <!--w_100-->
    </div>
    <!--wrapper ends-->
  </div>
  <!--dlp_in t_bg_colr-->
  <!--<div id="all_partials" style="display: table;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2147483647;"></div>-->
  <div class="dlp_box_in">
    <div class="wrapper">
      <h3>Welcome</h3>


      <%#= params[:id]%>
      <% @attendee = AttendeeDetail.find(params[:id]) %>
      <% @conference = @attendee.conference %>
      <p><%= @attendee.first_name + " " +@attendee.last_name %></p>

      <div class="w_100 t_boxes">
        <a href="/attendee_details/attendee_flight_detail?id=<%= @attendee.id %>"><img src="/assets/plane.png"><span class="span01">Flight</span></a>
        <a href="/attendee_details/attendee_ground_detail?id=<%= @attendee.id %>"><img src="/assets/car.png"><span class="span02">Transportation</span></a>
        <a onclick="open_pdf()" href=""><img class="t_box_agenda" src="/assets/agenda-2.png"><span class="span03">Agenda</span></a>
      </div>
      <!--w_100-->
      <div class="logout_btn w_100">
        <a href="/">Log Out</a>

        <p>Powered by the DLP Innovation Lab</p>
        <span>© 2014 Distance Learning Providers | All Rights Reserved</span>
      </div>
      <!--login_btn -->
    </div>
    <!--wrapper ends-->
  </div>
  <!--dlp_box_in-->
</div><!--DLP-->

<!--/attendee_details/attendee_agenda_detail?id=<%#= @attendee.id %>-->
<script type="text/javascript">
    function open_pdf() {
        //alert('123')

        if (<%= @conference.agenda_detail.blank? %>) {

            hudMsg('info', "Agenda detail missing against this conference.")
            return false;
        }
        else {
            $("#all_partials").show;
            $("#all_partials").css("display", "block");
            $.ajax({
                url: '/attendee_details/agenda_popup?id=' + <%= @conference.id %>,
                type: 'get',
                dataType: 'html',
                processData: false,
                success: function (data) {
                    if (data == "not") {
                        window.location.href = '/sign_in';
                    }
                    else {
                        $("#all_partials").html(data);
                    }
                },
                error: function (data) {
                }
            });
        }


    }
</script>