<div class="row-fluid sortable ui-sortable">
  <!--<div class="box span12">-->
    <div class="box-header">
      <h2><i class="icon-align-justify"></i>Add Agenda Detail</h2>
      <div class="box-icon">
        <a class="btn-setting" href="#"><button aria-hidden="true" data-dismiss="modal" class="close" type="button" onclick="cancel_box()">×</button></a>
        <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
        <a class="btn-close" href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <!--, :url => '/welcome/add_agenda_detail'-->
<%= form_for :agenda_detail, :url => '/welcome/add_agenda_detail', :html => {:id => 'new_agenda_form',:multipart => true } do |f| %>
 <p>
    <b> <%= f.label :attach %> </b><br/>
    <%= f.file_field :attach %>
  </p>
<%= hidden_field_tag :attendee_id, @attendee_detail.id %>

    <b> <%= f.submit :class=> "btn btn-lg btn-info margin10" %> </b>
   <a class="btn btn-lg btn-info margin10" id="cancel_boxs" onclick="cancel_box()"> Cancel </a>

<% end %>
    </div>
    <!--</div>-->
    </div>
<script type="text/javascript">
    $("#asdf").click(function(){
        alert($("#agenda_detail_attach").val())
    })

    function cancel_box(){
        $("#all_partials").hide()
    }


//$('#new_agenda_form').submit(function () {
//    alert('aaaaaaaaaaa')
////            if ($('#new_event_form').valid() == true) {
//                alert(window.location.href)
//    var location = window.location.href
//                var postData = $(this).serializeArray();
//                     alert(postData)
//                var formURL = $(this).attr("action");
//    alert(formURL)
//                $.ajax({
//                    url: formURL,
//                    type: 'post',
//                    data: postData,
//                    success: function (data) {
//                        alert(data)
//                        if (data == "not") {
//
////                            window.location.href = '/sign_in';
//                        }
//                        else {
//                            alert(data)
//                            window.location.href = location
//
//                        }
//                    }
//                });
////            }
//        });



</script>
