<div class="row-fluid sortable ui-sortable">
  <!--<div class="box span12">-->
    <div class="box-header">
      <h2><i class="icon-align-justify"></i>Add Flight Detail</h2>
      <div class="box-icon">
        <a class="btn-setting" href="#"><button aria-hidden="true" data-dismiss="modal" class="close" type="button" onclick="cancel_box()">×</button></a>
        <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
        <a class="btn-close" href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
   <%#= @attendee_detail.id %>
      <% @flight_detail = FlightDetail.where(:attendee_detail_id => @attendee_detail.id).first %>
<%= form_for :flight_detail, :html => {:onsubmit => "return false;"} do  |f| %><!--, :url => "/welcome/create_flight_detail"-->
    <p>
      <div style="width:120px;display: inline-block">
      <strong>Airline Name:*</strong>
      </div>
        <%= f.text_field :airline_name %>
      <%= hidden_field_tag :attendee_id, @attendee_detail.id %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Flight Number:*</strong>
            </div>
    <%= f.text_field :flight_number %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Record Locator:*</strong>
            </div>
    <%= f.text_field :record_locator %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Departure From:*</strong>
            </div>
    <%= f.text_field :departuring_from  %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Departure Time:*</strong>
            </div>
    <%= f.text_field :departure_time ,:id => "datetimepicker3" %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Arrival At:*</strong>
            </div>
    <%= f.text_field :arriving_at  %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Arrival Time:*</strong>
            </div>
    <%= f.text_field :arriving_time  ,:id => "datetimepicker4"%>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Connections:</strong>
            </div>
    <%= f.text_field :connections  %>
    </p>
          <%= f.submit "Save", :id => "add_flight_detail",:class=>"btn btn-lg btn-info margin10" %>
          <a class="btn btn-lg btn-info margin10" id="cancel_boxs" onclick="cancel_box()"> Cancel </a>
<% end %>
        </div>
        <!--</div>-->
        </div>
<script type="text/javascript">
  $("#add_flight_detail").click(function(){

      var id = $("#attendee_id").val()
      var airline_name = $("#flight_detail_airline_name").val()
      var flight_number = $("#flight_detail_flight_number").val()
      var departure_airport = $("#flight_detail_departuring_from").val()
      var departure_time = $("#datetimepicker3").val()
      var arrival_airport = $("#flight_detail_arriving_at").val()
      var arrival_time = $("#datetimepicker4").val()
      var connections = $("#flight_detail_connections").val()
      var record_locator  = $("#flight_detail_record_locator").val()
      if (airline_name == "" || flight_number == "" || departure_airport =="" || departure_time =="" || arrival_airport == "" || arrival_time == "" || record_locator == ""){
          hudMsg('info', "Please Add All Required Fields.")
//      alert('Please Add All Required Fields.');
      return false;
      }
      $.ajax({
          url:'/welcome/add_flight_detail?id='+ id + "&airline_name=" + airline_name + "&flight_number=" + flight_number + "&departure_airport=" + departure_airport +"&departure_time=" + departure_time + "&arrival_airport=" + arrival_airport + "&arrival_time=" +arrival_time + "&connections=" + connections + "&record_locator=" + record_locator,
          type:'get',
          dataType:'html',
          processData:false,
          success:function (data) {
              if (data == "not") {
                  window.location.href = '/sign_in';
              }
              else {
                  $("#all_partials").hide()
              }
          },
          error:function (data) {
          }
      });
  })

        function cancel_box(){
            $("#all_partials").hide()
        }
  $('#datetimepicker3').datetimepicker({
  	datepicker:false,
  	format:'H:i',
  	step:5
  });
  $('#datetimepicker4').datetimepicker({
  	datepicker:false,
  	format:'H:i',
  	step:5
  });
//  $('#datetimepicker').datetimepicker();
//  $('#datetimepicker1').datetimepicker();

</script>
<style>
  .xdsoft_datetimepicker{
      z-index: 999999999999;
  }
</style>
