<div class="row-fluid sortable ui-sortable">
  <!--<div class="box span12">-->
    <div class="box-header">
      <h2><i class="icon-align-justify"></i>Add Ground Detail</h2>
      <div class="box-icon">
        <a class="btn-setting" href="#"><button aria-hidden="true" data-dismiss="modal" class="close" type="button" onclick="cancel_box()">×</button></a>
        <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
        <a class="btn-close" href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
   <%#= @attendee_detail.id %>
<%# @flight_detail = FlightDetail.new() %>
      <% @ground_detail = GroundDetail.where(:attendee_detail_id => @attendee_detail.id).first %>
      <%#= @flight_detail = FlightDetail.where(:attendee_detail_id => @attendee_detail.id).first %>
<%= form_for :ground_detail, :html => {:onsubmit => "return false;"} do  |f| %><!--, :url => "/welcome/create_flight_detail"-->
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Departing From*</strong>
            </div>
    <%= f.text_field :departing_from,:placeholder => "" %>
      <%= hidden_field_tag :attendee_id, @attendee_detail.id %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Departure Time*</strong>
            </div>
    <%= f.text_field :departure_time,:placeholder => "" ,:id => "datetimepicker5" %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Destinations*</strong>
            </div>
    <%= f.text_field :destination,:placeholder => ""  %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Estimated Transit Time*</strong>
            </div>
    <%= f.text_field :estimated_transit_time,:placeholder => "" %>
    </p>
    <p>
          <div style="width:120px;display: inline-block">
      <strong>Instructions</strong>
            </div>
    <%= f.text_field :instructions ,:placeholder => "" %>
    </p>

          <%= f.submit "Save", :id => "add_ground_detail",:class=>"btn btn-lg btn-info margin10" %>
          <a class="btn btn-lg btn-info margin10" id="cancel_boxs" onclick="cancel_box()"> Cancel </a>
<% end %>
        </div>
        <!--</div>-->
        </div>


<script type="text/javascript">

  $("#add_ground_detail").click(function(){
      var id = $("#attendee_id").val()
      var departing_from = $("#ground_detail_departing_from").val()
      var departure_time = $("#datetimepicker5").val()
      var destination = $("#ground_detail_destination").val()
      var estimated_transit_time = $("#ground_detail_estimated_transit_time").val()
      var instructions = $("#ground_detail_instructions").val()
      if (departing_from == "" || departure_time == "" || destination == "" || estimated_transit_time == ""){
          hudMsg('info', "Please Add All Required Fields.")
//          alert('Please Add All Required Fields.');
          return false;
      }
      $.ajax({
          url:'/welcome/add_ground_detail?id='+ id + "&departing_from=" + departing_from + "&departure_time=" + departure_time + "&destination=" + destination + "&estimated_transit_time=" + estimated_transit_time + "&instructions=" + instructions ,
          type:'get',
          dataType:'html',
          processData:false,
          success:function (data) {
              if (data == "not") {
                  window.location.href = '/sign_in';
              }
              else {
                  $("#all_partials").hide()
              }
          },
          error:function (data) {
          }
      });
  })
        function cancel_box(){
            $("#all_partials").hide()
        }
  $('#datetimepicker5').datetimepicker({
	datepicker:false,
	format:'H:i',
    minDate: 0,
	step:5
});

</script>
<style>
  .xdsoft_datetimepicker{
      z-index: 999999999999;
  }
</style>
